@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --text-color:#ffffffe3;
  --foreground-rgb: #000000;
  --background-start-rgb:  #d6dbdc;
  --background-end-rgb: #ffffff; 

  /* UI */
  --link-hover-background: rgba(255, 255, 255, 0.5) !important;
  --navlink-color: #545353d3 !important;
  --navlink-active: #3f1de7, 
}

[data-theme='dark'] {
  --foreground-rgb: #ffffff; 
  --background-start-rgb: #000000;
  --background-end-rgb: #000000;

  /* UI hover */
  --link-hover-background: rgba(0, 0, 0, 0.5) !important;
  --navlink-color: #ece1e1d3 !important;
  --navlink-active: #C0E218, 

}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}
